name: CI/CD

on:
    push:
        branches:
            - master
    pull_request:

permissions:
    actions: read
    contents: read

jobs:
    iremindbot-fb:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build Docker image for iremindbot-fb
              run: docker build -f Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/iremindbot-fb:latest .

            - name: Push Docker image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/iremindbot-fb:latest

            - name: Redeploy
              run: curl -X GET "${{ secrets.DEPLOY_HOOK }}"
